{%- macro render_articles_mobile(articles, category, limit, desc_size) %}
  <!-- BIG SCREEN: articles start -->
  <div class="row show-for-small">
    <div class="two column">
  {%- set counter = 0 %}
  {%- for article in articles %}
    {%- if article.link %}
      {%- if counter < limit %}
      <div class="lang-{{ article.lang }}">
        <ul class="block-grid mobile-two-up">
          <li class="text-left"><a href="http://{{ article.domain }}" target="_blank" class="th"><img src="/static/images/logos/{{ article.domain }}.png" /></a></li>
        {%- if article.pubdate != "" %}
          <li class="text-right"><h5><small>{{ article.pubdate.strftime('%d-%b-%Y @ %H:%M') }}</small></h5></li>
        {%- endif %}
        </ul>
        <h6><a href="{{ article.link }}" target="_blank">{{ article.title|safe }}</a></h6>
        {%- if article.img %}
        <a href="{{ article.link }}" class="th" target="_blank"><img src="{{ article.img }}"></a>
        {%- endif %}
        {#- if arabic, then use <p> for size #}
        {%- if article.lang == 'ar' %}
        <p>{{ article.description }}</p>
        {%- else %}
        <h5><small>{{ article.description[0:desc_size]|safe }}</small></h5>
        {%- endif %}
        <hr/>
      </div>
        {%- set counter = counter + 1 %}
      {%- endif %}
    {%- endif %}
  {%- endfor %}
  </div>
  <!-- BIG SCREEN: articles end -->
{%- endmacro %}
