{%- macro render_articles(articles, category, column_min, css_props, desc_size) %}
  <!-- BIG SCREEN: articles start -->
  <div class="row hide-for-small">
    <div class="{{ css_props.left }} column">
      <!-- put stuff here later ? -->
    </div>
  {%- for url in articles.keys() %}
  {%- if articles[url]|length > column_min %}
    <div class="{{ css_props.feed }} column">
      <h4><a href="http://{{ url }}" target="_blank" class="th"><img src="/static/images/logos/{{ url }}.png" /></a></h4>
    {%- for article in articles[url] %}
      {%- if article.link %}
      <div class="lang-{{ article.lang }}">
        {%- if article.pubdate != "" %}
        <h5><small>{{ article.pubdate.strftime('%d-%b-%Y @ %H:%M') }}</small></h5>
        {%- endif %}
        <h6><a href="{{ article.link }}" target="_blank">{{ article.title|safe }}</a></h6>
        {%- if article.img %}
        <a href="{{ article.link }}" class="th" target="_blank"><img src="{{ article.img }}"></a>
        {%- endif %}
        <h5><small>{{ article.description[0:desc_size]|safe }}</small></h5>
        <hr/>
      </div>
      {%- endif %}
    {%- endfor %}
    </div>
  {%- endif %}
  {%- endfor %}
    <div class="{{ css_props.right }} column">
      <!-- put stuff here later ? -->
    </div>
  </div>
  <!-- BIG SCREEN: articles end -->
{%- endmacro %}
